.logo {
	margin: 0 auto 30px;
	width: 100%;
	text-align: center;
	background-color: #01B302;
	padding:20px 0;
}

.logo img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.frm-wrap {
	margin: 0 auto;
}
.frm-login {
	max-width: 350px;
	margin: 0 auto;
	/* box-shadow: 1px 1px 1px rgba(0,0,0,.5); */
	/* border:1px solid #AAB2BD; */
}
	.frm-header {
		background-color: #01B302;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding: 15px;
		font-size: 18px;
		color: #FFF;
		text-align: center;
	}
		.frm-header h5 {
			margin:0;
		}

	.frm-conten {
		padding:15px 10px;
		border-right:1px solid #01B302;
		border-left:1px solid #01B302;
		border-bottom:1px solid #01B302;
	}

.btn-dark-grey {
	background-color: #434A54;
	border-color: #434A54;
}

.btn-dark-grey:hover,
.btn-dark-grey:focus,
.btn-dark-grey:active {
	background-color: #656D78;
	border-color: #656D78;
}