html {
	position: relative;
	min-height: 100%;
}	
body {
	padding :190px 0;
}
#header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
}

.to_fixed .logo img {
	max-width: 42%;
	transition: max-width 0.8s;
	-webkit-transition: max-width 0.8s ease;
}

.logo {
	margin: 0 auto;
	text-align: center;
	background-color: #01B302;
	padding:10px 0;
	position: relative;
}

.logo img {
	max-width: 55%;
	height: auto;
	transition: max-width 0.8s;
	-webkit-transition: max-width 0.8s ease;
}

/* navbar orange */
.navbar-jsu {
	background: #FFF;
	border-radius: 0;
	border-color: transparent;
	border-bottom: 1px solid #FFFD01; 
	/*border-top: 2px solid #01B302; */
}	

	.navbar-jsu .nav li a {
	    color: #616161;
	    cursor: pointer;
		-webkit-transition: all 0.1s ease-out 0.01s;
		-moz-transition: all 0.1s ease-out 0.01s;
		-o-transition: all 0.1s ease-out 0.01s;
		transition: all 0.1s ease-out 0.01s;
  	}

  	.navbar-jsu .nav > li > a:hover,
    .navbar-jsu .nav > li > a:focus {
		text-decoration: none;
		color: #fff !important;
		background-color: #01B302;
		cursor: pointer;
		/* -webkit-transform: scale(0.92);
        -ms-transform: scale(0.92);
        transform: scale(0.92); */
    }

    .navbar-jsu .nav .open> a, 
	.navbar-jsu .nav .open> a:focus, 
	.navbar-jsu .nav .open> a:hover {
		background-color: #01B302;
		border-color: #FFFD01;
	}

	/* dropdown */
	.navbar-jsu .dropdown-menu {
		background: #616161;
	}
		.navbar-jsu .navbar-nav .dropdown-menu a {
			color: #fff !important;
		}


	/* collapse */
	 .navbar-jsu .collapse.in .open .dropdown-menu > li > a {
    	color: #616161 !important;
    }

    .navbar-jsu .collapse.in .open .dropdown-menu > li > a:hover {
    	text-decoration: none;
		color: #fff !important;
		background-color: #01B302 !important;
    }
    
	.navbar-jsu .navbar-collapse, 
	.navbar-jsu .navbar-form {
	    border-color: #FFFD01;
	}
	.navbar-jsu .navbar-brand {
	    color: #616161;
	}
	.navbar-jsu .navbar-brand:focus, 
	.navbar-jsu .navbar-brand:hover {
		color: #616161;
	}
	
	.navbar-jsu .navbar-toggle {
		background-color: transparent;
		border-color: #01B302;
	}

	.navbar-jsu .navbar-toggle:focus, 
	.navbar-jsu .navbar-toggle:hover {
	    background-color: #01B302;
	    border-color: #FFFD01;
	    color: #fff;
	}

/* helper */
.pd-top-80 {
	padding-top: 140px;
}

.img-welcome {
	margin: 0 auto;
	padding-top: 70px;
}

.panel-dark-grey .panel-heading {
	background-color: #656D78;
}	
	.panel-dark-grey .panel-title {
		color: #FFF;
	}

/* footer */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	/* height: 55px; */
	padding: 5px 0 0 0;
	background-color: #01B302;
}
	.footer .container {
		position: relative;
		width: 100%;
	}
	.footer .text-muted {
		color: #ffffff;
		text-align: center;
		font-style: italic;
		font-weight: 100;
	} 

	.nav-footer {
		position: absolute;
		right: 50px;
		top: 5px;
	}

	.nav-footer.nav li a {
	    position: relative;
		top: 5px;
	    display: block;
	    padding: 5px 5px;
	}

	.nav-footer.nav a:hover  {
		background: transparent; 
	}


/* bs table js dropdown */
.fixed-table-toolbar .columns label {
  color: #fff;
}

@media (max-width: 992px) {
	body {
		padding :150px 0;
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
	.nav-sosial {
		display: block !important;
	}
}


.datepicker.dropdown-menu {
	z-index: 100 !important;
}


.listStyleGroup {
	border-radius: 0;
	box-shadow: none;
}
	.listStyleGroup a.list-group-item:hover {
		background-color: transparent;
		opacity: .7;
	}
	
/* homee */
.green {
	background: #01B302 !important;
	padding: 10px;
}

.green article {
	margin-bottom: 35px;
	color: #ffffff;
	line-height: 21px;
}

.yellow {
	background: #FFFD01 !important;
	padding: 10px;
}

.link-more {
	color: #ffffff;
	font-weight:bold;
}

.welcome-text {
	text-align: center;
	margin: 30px auto;
}

.welcome-text h2 {
	font-size: 32px;
	font-weight: bolder;
	letter-spacing: 0.5px;
	color: #01B302;
	margin: 0;
}
	.welcome-text span {
		font-size: 20px;
	}

.welcome-text h4 {
	font-weight: 400;
	font-style: italic;
	color: #01B302;
	margin: 10px 0;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
}


.panel-group-schools {
	margin-top: 30px;
}

.panel-group-schools .panel {
	margin: 15px;
}
.panel-white {
	background: #ffffff !important;
	border-radius: 10px !important;
	border:  1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.025);
	overflow: hidden;
}

.panel-heading {
	cursor: pointer;
}

.panel-white .panel-body {
	background-color: #ffffff !important;
}
.panel-white .panel-heading,
/*.panel-white .panel-body,*/
.panel-white .panel-collapse {
	color: #212121 !important;
	padding: 15px 20px;
	border-bottom:  1px solid rgba(0, 0, 0, 0.01);
	box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.025);
}

.panel-white .panel-heading:hover {
	background: #ECFAED !important;
}
.panel-white .panel-title {
	display: flex;
    justify-content: space-between;
    align-items: center;
	font-weight: bold;
	text-transform: uppercase;
}
.panel-white .panel-title a:hover,
.panel-white .panel-title a:focus {
	color: #212121;
}

.list-group-faculty .list-group-item {
	border: none !important;
	padding: 10px 20px;
	border-radius: 5px !important;
	border:  1px solid rgba(0, 0, 0, 0.02);
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.04);
	margin: 10px 0;
}

.list-group-faculty .list-group-item:hover {
	background: #ECFAED;
}

.rotate {
  -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(-180deg); /* Firefox */
  -ms-transform: rotate(-180deg); /* IE 9 */
  transform: rotate(-180deg); /* Standard syntax */
}

.breadcrumb {
	background: rgba(1,179,2, .05);
}

.breadcrumb li a {
	color: #01B302;
	font-weight: bold;
}

.breadcrumb li.active {
	color: #01c702;
}

.page-title {
	margin: 40px 0 20px 0;
	font-weight: 400;
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.m-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.m-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.m-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.m-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.program-desc {
	margin-bottom: 30px;
}
